body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 60px;
}

.container {
  text-align: center;
  width: 350px;
}

.searchBox {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.searchBox input {
  padding: 12px;
  width: 200px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.searchBox button {
  padding: 12px 15px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  transition: transform 0.2s;
}

.searchBox button:hover {
  transform: scale(1.05);
}
